<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Input Data Diri</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nama Depan</ion-label>
        <ion-input type="text" [(ngModel)]="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nama Belakang</ion-label>
        <ion-input type="text" [(ngModel)]="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Alamat</ion-label>
        <ion-input type="text" [(ngModel)]="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nomor Telepon</ion-label>
        <ion-input type="tel" [(ngModel)]="phone"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="sendEmail()">Kirim Email</ion-button>
    <!-- <ion-button expand="full" (click)="sendTelegram()"
      >Kirim Telegram</ion-button
    >
    <ion-button expand="full" (click)="sendWhatsapp()"
      >Kirim WhatsApp</ion-button
    > -->
  </div>
</ion-content>
